<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email de réinitialisation envoyé</title>
</head>
<body>
    <h1>Email de réinitialisation envoyé</h1>
    <p>Nous avons envoyé des instructions pour la réinitialisation de votre mot de passe à l'adresse e-mail que vous avez indiquée, si un compte correspondant existe. Vous devriez les recevoir sous peu.</p>
    <p>Si vous ne recevez pas l'e-mail, veuillez vérifier votre dossier de spam ou de courriers indésirables.</p>
    <p><a href="{% url 'token_obtain_pair' %}">Retour à la connexion</a></p>
</body>
</html>